<!DOCTYPE html>
<html>
  <head>
    <title>Add Car Details</title>
  </head>
  <body>
    <h1>Add Car Details</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      {% comment %} <label for="star_rating">Star Rating:</label>
      <input type="number" id="star_rating" name="star_rating" min="1" max="5" required />
      <br />

      <label for="owner_review">Owner Review:</label>
      <textarea id="owner_review" name="owner_review" rows="4" cols="50"></textarea>
      <br /> {% endcomment %}

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
